/* /////////// Main //////////// */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.5vw;
}

/* /////////// Navbar //////////// */

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: black;
  line-height: 0.2;
}

.navbar__title {
  font-family: "Raleway", sans-serif;
  color: white;
  margin-left: 1%;
  font-size: 3vw;
}

.navbar__title-mobile {
  display: none;
}

.navbar__links__container {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-right: 2%;
  color: white;
  justify-content: space-around;
}

.navbar__list {
  padding-top: 6%;
}

.navbar__links__container > * {
  font-size: 1.5vw;
  margin: 2%;
}

.navbar__links:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.navbar__links:visited {
  color: white;
  text-decoration: none;
}

.navbar__links:hover {
  text-decoration: underline;
}

.navbar__links:active {
  background-color: transparent;
  text-decoration: underline;
}

/* /////////// About //////////// */

.about {
  margin-left: 1%;
}

.about__link {
  color: black;
  text-decoration: none;
  font-weight: 900;
}

.about__link:hover {
  text-decoration: underline;
}

.about__link:active {
  text-decoration: underline;
}

/* /////////// Projects //////////// */

.project__link {
  color: black;
  text-decoration: none;
  font-weight: 900;
}

.project__link:hover {
  text-decoration: underline;
}

.project__link:active {
  text-decoration: underline;
}

.projects {
  margin-bottom: 5%;
  margin-left: 1%;
}

.project__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

figure.hover-animation {
  font-family: "Raleway", Arial, sans-serif;
  position: relative;
  overflow: hidden;
  /* width: 60%; */
  background: #000000;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  flex-basis: 25%;
}

figure.hover-animation * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

figure.hover-animation img {
  max-width: 100%;
  position: relative;
  opacity: 0.4;
  flex-basis: 25%;
}

figure.hover-animation figcaption {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  flex-basis: 25%;
}

figure.hover-animation h2 {
  position: absolute;
  left: 40px;
  right: 40px;
  display: inline-block;
  background: #000000;
  padding: 12px 5px;
  margin: 0;
  top: 50%;
  text-transform: uppercase;
  font-weight: 400;
  flex-basis: 25%;
}

figure.hover-animation:before {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(110deg) translateY(-50%);
  transform: rotate(110deg) translateY(-50%);
  flex-basis: 25%;
}

figure.hover-animation a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
  flex-basis: 25%;
}

figure.hover-animation:hover img,
figure.hover-animation.hover img {
  opacity: 1;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  flex-basis: 25%;
}

figure.hover-animation:hover h2,
figure.hover-animation.hover h2 {
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
  flex-basis: 25%;
}

/* /////////// Contact form //////////// */

.contact {
  margin-left: 1%;
}
.input__firstname {
  width: 20%;
}

.form {
  position: relative;
  background: #ffffff;
  max-width: 75%;
  margin: 0 auto 1%;
  padding: 3%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Raleway", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 2.5%;
  padding: 1.5%;
  box-sizing: border-box;
  font-size: 1.5vw;
}
.form button {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  text-align: center;
  outline: 0;
  background: forestgreen;
  border: 0;
  padding: 2%;
  color: #ffffff;
  font-size: 1.2vw;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,
.form button:active,
.form button:focus {
  background: rgb(35, 112, 35);
}

.label__message,
.label__name,
.label__email {
  padding-bottom: 1%;
  display: block;
  font-size: 1.5vw;
}

.input__message {
  padding: 5%;
  width: 90%;
  min-height: 50%;
  position: relative;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
}

/* /////////// Navbar //////////// */

.footer {
  text-align: center;
  margin-top: 5%;
  position: absolute;
  background-color: black;
  color: white;
  padding: 1.7%;
  width: 96.5%;
}

/* /////////// Media queries //////////// */

@media only screen and (max-width: 400px) {
  body {
    font-size: 4vw;
  }

  .navbar__list {
    padding-top: 0;
  }

  .navbar__links__container > * {
    font-size: 5vw;
  }

  .navbar__title {
    display: none;
  }

  .navbar__title-mobile {
    display: block;
    font-family: "Raleway", sans-serif;
    color: white;
    padding-top: 2%;
    margin-left: 1%;
    font-size: 5vw;
  }

  figure.hover-animation {
    flex-basis: 90%;
  }

  .label__message,
  .label__name,
  .label__email {
    font-size: 4vw;
  }

  .form input {
    font-size: 3.5vw;
  }
  .form button {
    font-size: 4vw;
  }
}
