html {
  scroll-behavior: smooth;
}

.navbar__title {
  font-family: "Raleway", sans-serif;
}

body {
  font-family: "Raleway", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: black;
  line-height: 0.2;
}

.navbar__title {
  color: white;
  margin-left: 1%;
}

.navbar__links__container {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-right: 2%;
  color: white;
  justify-content: space-around;
}

.navbar__links__container > * {
  font-size: 1.2rem;
  margin: 2%;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  background-color: transparent;
  text-decoration: underline;
}
.contact {
  margin-left: 1%;
}
.input__firstname {
  width: 20%;
}

.about {
  margin-left: 1%;
}

.projects {
  margin-bottom: 15%;
  margin-left: 1%;
}

.project__container {
  max-width: 75%;
  grid-template-columns: 25% 25% 25% 25%;
  display: grid;
  grid-gap: 5%;
}

/* .footer {
  margin-top: 5%;
  position: absolute;
  background-color: black;
  padding: 1.7%;
  width: 100%;
} */

figure.hover-animation {
  font-family: "Raleway", Arial, sans-serif;
  position: relative;
  overflow: hidden;
  /* margin: 10px; */
  width: 100%;
  background: #000000;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.hover-animation * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

figure.hover-animation img {
  max-width: 100%;
  position: relative;
  opacity: 0.4;
}

figure.hover-animation figcaption {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

figure.hover-animation h2 {
  position: absolute;
  left: 40px;
  right: 40px;
  display: inline-block;
  background: #000000;
  padding: 12px 5px;
  margin: 0;
  top: 50%;
  text-transform: uppercase;
  font-weight: 400;
}

figure.hover-animation:before {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(110deg) translateY(-50%);
  transform: rotate(110deg) translateY(-50%);
}

figure.hover-animation a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

figure.hover-animation:hover img,
figure.hover-animation.hover img {
  opacity: 1;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

figure.hover-animation:hover h2,
figure.hover-animation.hover h2 {
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
}
