html {
  scroll-behavior: smooth;
}

h1 {
  font-family: "Raleway", sans-serif;
}

body {
  font-family: "Raleway", sans-serif;
}

.project__container {
  width: 100%;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1%;
  margin-bottom: 10%;
}

.unique__project {
  width: 25%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: black;
  line-height: 0.2;
}

.navbar__title {
  color: white;
  margin-left: 1%;
}

.navbar__links__container {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-right: 2%;
  color: white;
  justify-content: space-around;
}

.navbar__links__container > * {
  font-size: 1.2rem;
  margin: 2%;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  background-color: transparent;
  text-decoration: underline;
}

.input__firstname {
  width: 20%;
}

.input__message {
  height: ;
}

.footer {
  margin-top: 5%;
  position: absolute;
  background-color: black;
  padding: 1.7%;
  width: 100%;
}

.navbar__links__about {
}

.navbar__links__projects {
}

.navbar__links__contact {
}
